[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.22.0"
uvloop = "*"
pydantic-settings = "*"
markupsafe = "==2.1.3"
pydantic = "==2.5.2"
blacksheep = {extras = ["full"], version = "~=2.0.0"}
rich = "*"
gitpython = "*"
python-dotenv = "*"
ruff = "*"
pyright = "*"

[dev-packages]

[requires]
python_version = "3.12"
